html, body {
    height: 100%;
}

body {
    background: linear-gradient(to top, #21122a, #41234e);
    
}


#logo {
    position: absolute;
    
    top: 30px;
    left: 265px;
    
    
}

#tel {
   position: absolute;
   
   top: 30px;
   right: 280px;
}


/* 
    Created on : 12.09.2019, 12:29:39
    Author     : Serge Bobrov
*/

